#logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &.boardroom-1{
    top: 20%;
  }
  &.boardroom-2{
    top: 18%;
  }
  &.boardroom-3{
    top: 27%;
    margin-left: 15px;
  }
  &.boardroom-4{
    top: 18%;
    width: 400px;
    height: 200px;
  }
  &.boardroom-5{
    top: 12%;
  }
}

button{
  &#back{
    &.boardroom-4{
      right: 65px;
      left: auto;
    }
  }
  &#watch{
    &.boardroom-2{
      left: auto;
      right: 11.5%;
    }
    &.boardroom-3{
      top: 20%;
      left: 6.5%;
    }
    &.boardroom-4{
      left: 11.5%;
    }
    &.boardroom-5{
      left: 4%;
      top: 21%;
    }
  }
}
