<div class="hero" [style.backgroundImage]="'url('+ heroImage +')'"
 [style.transform]="transform"
 [style.width.px]="vw"
 [style.height.px]="vh">
  <span id="logo" class="" [className]="'boardroom-' + boardroom"></span>
  <button id="back" [className]="'boardroom-' + boardroom">
    <span>Back to Lobby</span>
    <div class="icon">
      <i class="fa fa-caret-left" aria-hidden="true"></i>
    </div>
  </button>
  <button id="watch" [className]="'boardroom-' + boardroom">
    <div class="icon">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </div>
    <span>Watch Now</span>
  </button>
  <ul class="nav">
    <li *ngFor="let number of [1,2,3,4,5]"><span class="circle-icon" [class.active]="boardroom == number" (click)="changeBoardroom(number)"></span></li>
  </ul>
</div>
<div class="logos" [style.top.px]="vh">
  <div class="logo" *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
    <img src="assets/logo{{number}}.jpg" alt="">
  </div>
</div>
