<div class="hero" [style.backgroundImage]="'url('+ heroImage +')'"
 [style.transform]="transform"
 [style.width.px]="vw"
 [style.height.px]="vh">
  <span id="logo" class="" [className]="'lobby-' + lobby"></span>
  <ul class="nav">
    <li *ngFor="let number of [1,2,3,4]"><span class="circle-icon" [class.active]="lobby == number" (click)="changeBoardroom(number)"></span></li>
  </ul>
</div>
<div class="logos" [style.top.px]="vh">
  <div class="logo" *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
    <img src="assets/logo{{number}}.jpg" alt="">
  </div>
</div>
