#logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &.lobby-1{
    transform: translateX(-50%) skewY(-8deg);
    top: 41.5%;
    width: 9%;
    left: 59.5%;
  }
  &.lobby-2{
    left: 22%;
    top: 11%;
  }
  &.lobby-3{
    left: 22%;
    top: 11%;
  }
  &.lobby-4{
    left: 22%;
    top: 11%;
  }
}

button{
  &#back{
    &.boardroom-4{
      right: 65px;
      left: auto;
    }
  }
  &#watch{
    &.boardroom-1{
      left: auto;
      right: 22%;
      top: 30%;
    }
    &.boardroom-2{
      left: 8%;
    }
    &.boardroom-3{
      top: 40%;
      left: 5.5%;
    }
    &.boardroom-4{
      left: auto;
      right: 10%;
      top: 53%;
    }
    &.boardroom-5{
      left: 4%;
      top: 21%;
    }
  }
}
