span{
  &#logo{
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
  }
}


button{
  &.main{
    font-size: 70px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
  }
}
