<div class="hero" [style.backgroundImage]="'url('+ heroImage +')'"
 [style.transform]="transform"
 [style.width.px]="vw"
 [style.height.px]="vh" *ngIf="scaleMode">
  <span id="logo"></span>
  <button class="main">enter</button>
  <!-- <button (click)="scaleMode=true" *ngIf="!scaleMode">Enable Scale Mode</button>
  <button (click)="scaleMode=false" *ngIf="scaleMode">Disble Scale Mode</button> -->
</div>
<div class="hero cover" *ngIf="!scaleMode" [style.backgroundImage]="'url('+ heroImage +')'">
  <span class="logo"></span>
  <button class="main">enter</button>
  <button (click)="scaleMode=true" *ngIf="!scaleMode">Enable Scale Mode</button>
  <button (click)="scaleMode=false" *ngIf="scaleMode">Disble Scale Mode</button>
</div>
<div class="logos"  [style.top.px]="vh">
  <div class="logo" *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
    <img src="assets/logo{{number}}.jpg" alt="">
  </div>
</div>
