#logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &.boardroom-1{
    top: 10%;
    left: 48%;
  }
  &.boardroom-2{
    top: 10%;
    left: 48%;
  }
  &.boardroom-3{
    top: 30%;
    left: 47%;
  }
  &.boardroom-4{
    top: 10%;
    width: 260px;
    height: 200px;
    left: 23%;
  }
  &.boardroom-5{
    top: 12%;
  }
}

button{
  &#back{
    &.boardroom-4{
      right: 65px;
      left: auto;
    }
  }
  &#watch{
    &.boardroom-1{
      left: auto;
      right: 22%;
      top: 30%;
    }
    &.boardroom-2{
      left: 8%;
    }
    &.boardroom-3{
      top: 40%;
      left: 5.5%;
    }
    &.boardroom-4{
      left: auto;
      right: 10%;
      top: 53%;
    }
    &.boardroom-5{
      left: 4%;
      top: 21%;
    }
  }
}
