button{
  cursor: pointer;
  transition: transform .3s;
  &.main{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: #222850;
    border: none;
    padding: 20px 30px;
    background: rgba(white, 0.8);
    border-radius: 15px;
    cursor: pointer;
  }
  &#back {
    background: #fff;
    border: none;
    padding: 2px 10px;
    border-radius: 2px;
    width: 138px;
    text-align: left;
    position: absolute;
    top: 54px;
    left: 45px;
    span{
      float: left;
    }
    .icon{
      float: right;
      padding-left: 8px;
    }
  }

  &#watch {
    background: transparent;
    border: none;
    padding: 2px 10px;
    border-radius: 2px;
    width: 110px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 5.6%;
    span{
      float: none;
      width: 100%;
      margin-top: 10px;
    }
    .icon{
      float: none;
      padding-left: 2px;
      margin: 0 auto;
    }
  }

  span{
    font-size: 18px;
    display: block;
    font-weight: 500;
    color: #1d2655;
    width: 71%;
  }
  .icon{
    display: block;
    width: 30px;
    height: 30px;
    background: rgba(#45c1c9, 0.5);
    border-radius: 100px;
    box-sizing: border-box;
    margin: 10px 0;
    i{
      font-size: 28px;
      color: #1d2655;
    }
  }
  &:hover{
    transform: scale(1.2) !important;
  }
}
