.hero{
  background: grey;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  &.cover{
    width: 100vw;
    height: 100vh;
    left: 0;
    span{
      &.logo{
        width: 15vw;
      }
    }
    button{
      &.main{
        font-size: 5vw;
      }
    }
  }
}

span{
  &#logo{
    display: block;
    width: 200px;
    background-image: url('assets/v-unite@3x.png');
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }
}

.logos{
  position: absolute;
  display: flex;
  width: 90%;
  margin: 30px auto;
  left: 50%;
  transform: translateX(-50%);
  .logo{
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    img{
      height: 5vw;
      padding: 1vw;
    }
  }
}

.nav{
  position: relative;
  z-index: 10000;
  width: 50px;
  li{
    span{
      display: block;
      cursor: pointer;
      &.circle-icon{
        width: 20px;
        height: 20px;
        margin: 10px;
        background: grey;
        &.active{
          background: #008ac8;
        }
      }
    }
  }
}
